/* Pagination
-------------------------------------------------------------- */
.navigation {
	width: 100%;
	float: left;
	margin: 20px 0;	
	overflow: hidden;
}
.navigation li a {display: inline-block;}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	color: #fff;
	text-decoration:none;
}
 
.navigation li {
	display: inline;
}
 
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	background-color: #283172;
	border-radius: 3px;
	cursor: pointer;
	padding: 12px;
	padding: 0.75rem;
}
 
.navigation li a:hover,
.navigation li.active a {
	background-color: #9B0A00;
}