/* Social CSS */

/*
	Below are the classes that get added dependant on how many
	social media icons are needed. This happens automatically
	when fields are filled out in theme options. 
	
	You may need to adjust the widths depending on the size of the icons.

*/
#sociallinks {
	width: auto;
	display: table;
	margin: 0 auto;
}

.socialone{width: 40px;}
.socialtwo{width: 80px;}
.socialthree{width: 120px;}
.socialfour{width: 160px;}
.socialfive{width: 200px;}
.socialsix{width: 240px;}

#sociallinks  ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	z-index: 2;	
	position: relative;
}
/*
	The amount of margin between each icon
*/
#sociallinks  ul li {
	float: right;
	position: relative;
	margin: 0px 3px;
}

#sociallinks ul a {
	text-decoration: none;
	background-image: url(../images/social.png);
	background-repeat: no-repeat;
	display: block;
	height: 25px;
	text-indent: -9000px;
	position: relative;
	background-size: 75px 50px;
}
/*#sociallinks  ul a:hover {
	opacity:1;
}*/
#sociallinks  .facebook a {
	width: 25px;
	background-position: -0px -0px;
}	
#sociallinks .facebook a:hover {
	background-position: -0px -25px;
}
#sociallinks  .twitter a {
	width: 25px;
	background-position: -25px -0px;
}
	
#sociallinks .twitter a:hover {
	background-position: -25px -25px;
}
#sociallinks  .linkedin a {
	width: 25px;
	background-position: -50px 0px;
}
	
#sociallinks  .linkedin a:hover {
	background-position: -50px -25px;
}
#sociallinks  .instagram a {
	width: 25px;
	background-position: -600px -0px;
}
	
#sociallinks .instagram a:hover {
	background-position: -60px -20px;
}	
#sociallinks  .google a {
	width: 25px;
	background-position: -120px -0px;
}
	
#sociallinks .google a:hover {
	background-position: -120px -30px;
}
/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
#sociallinks {
	width: 100%;
	display: table;
	margin: 0;
}
}