h1, h2, h3, h4, h5, h6 {
	clear: both;
}

.entry-content h1 {
	font-size: 30px;
}

.entry-header .entry-title {
	font-size: 20px;
	line-height: 1.2;
	font-weight: normal;
	
	@media screen and (min-width: $tabwidth) {
		font-size: 22px;
	}
	@media screen and (min-width: $deskwidth) {

	}
}