* { -webkit-hyphens: none; font-size: 100%;}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Crimson Text', serif;
}
.clear {clear: both;}
.clear-bottom {
  &:after {
    clear:both;
    content: "";
    display: block;
  }
}
.copy {
  >*:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  >*:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
/* Page structure */
.wrapper {
	margin: 0px auto;
	padding: 0 10px;
}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 90%;
		padding: 0;
	}
}
#main {
  >.wrapper {
    @media screen and (min-width: $deskwidth) {
      width: 1050px;
      margin: 0 auto;
    }
  }
}
.top-wrapper {
	text-align: center;
  padding: 0 20px;
  margin: 0 auto;
	@media screen and (min-width: $tabwidth) {
		text-align: right;
	}
	@media screen and (min-width: $deskwidth) {
		width: 1050px;
		padding: 0;
	}
}
header#masthead {
	border-bottom: 2px solid $color-red;
  &:after {
    clear:both;
    display: block;
    content:"";
  }
  >.wrapper {
    width: 100%;
    padding: 20px 15px;
    @media screen and (min-width: $tinywidth) {
      padding: 20px 20px;
    }
    @media screen and (min-width: $tabwidth) {
      padding: 40px 20px;
    }
    @media screen and (min-width: $deskwidth) {
      width: 1050px;
      padding: 40px 0;
    }
  }
}
.red-border {
	width: 100%;
	float: left;
	margin-top: 2px;
		border-top: 2px solid $color-red;
}
#primary {
		width: 100%;
		float: left;
		margin-top: 24px;
	@media screen and (min-width: $tabwidth) {
		
	}
  &.left-column {
    @media screen and (min-width: $tabwidth) {
      width: 65%;
    }
  }
}
aside.right-column {
  float: right;
  width: 100%;
  @media screen and (min-width: $tabwidth) {
    width: 28%;
  }
  .testimonial {
    width: 100%;
    margin: 24px 0 40px 0;
    padding: 30px;
    text-align: left;
    line-height: 1.2;
    .flex-control-nav {
      bottom: -30px;
      line-height: 1;
      li {
        a {
          border: 1px solid #85101A;
          &.flex-active {
            background-color: #85101A;
          }
        }
      }
    }
    .the-testimonial {
      >*:first-child {
        margin-top: 0;
        padding-top: 0;
      }
      >*:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px dashed white;

      font-size: 17px;
    }
    .testi-creds {
      font-size: 17px;
      display: block;
      .the-testimonial-name {
        font-size: inherit;
        font-weight: 500;
        .reviewer-name {
          font-weight: 700;
        }
      }
    }
  }
}

.site {
	padding: 0px;
	background-color: #fff;
	@media screen and (min-width: $tabwidth) {
		margin: 0 auto;
		overflow: hidden;
		padding: 0;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
#primary.site-content {
	margin: 24px 0 0;
	@media screen and (min-width: $tabwidth) {
		float: left;
		width: 65.104166667%;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 24px 0 0;
	
	@media screen and (min-width: $tabwidth) {
		float: right;
		width: 26.041666667%;
		margin: 80px 0 0 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
  .widget {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    margin-bottom: 48px;
    word-wrap: break-word;
    h3 {
      margin-bottom: 24px;
      font-size: 14px;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      font-weight: 300;
      color: #525261;
    }
    ul {
      li {
        font-size: 13px;
        line-height: 1.846153846;
        a {
          color: #757575;
        }
      }
    }
  }
}
/* Logo */
.logo , h1.logo {
  width: 250px;
  height: 64px;
	background-image: url(images/logo.png);	
	z-index: 1;
    margin: 20px auto 40px auto;
	background-size: cover;
	@media screen and (min-width: $tabwidth) {
		float: left;
      margin: 0 auto ;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
.logo a, h1.logo a{
	width: 250px;
	height: 64px;
	display: block;
	text-indent: -9000px;
	@media screen and (min-width: $tabwidth) {

	}
	@media screen and (min-width: $deskwidth) {

	}
}
.header-right {
	width: 100%;
	text-align: center;
	@media screen and (min-width: $tabwidth) {
		width: auto;
		float: right;	
		text-align: center;
        margin-top: 5px;
	}
	@media screen and (min-width: $deskwidth) {
	}
}
.phone {
	width: 100%;
	display: inline-block;
	float: right;
	color: $color-blue;
	font-size: 24px;
	font-family: Calibri, sans-serif;
	text-align: center;
    letter-spacing: 1px;
    line-height: 1;
	margin: 5px 0 0 0;
	@media screen and (min-width: $tabwidth) {
		width: auto;
		float: right;
		text-align: right;
		margin: 10px 0 0 0;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
/* Footer */
footer[role="contentinfo"] {
	background-color:$color-light-grey;
	padding: 20px;
	clear: both;
	font-family: Calibri;
	font-size: 14px;
	line-height: 1.2;
    letter-spacing: 1px;
    margin: 0;
	color: $color-blue;
	text-align: right;
    >.wrapper {
      padding: 0;
      margin: 0;
      @media screen and (min-width: $deskwidth) {
        width: 1050px;
        margin: 0 auto;
      }
    }
}
footer[role="contentinfo"] a {
	// color: #888888;
}
footer[role="contentinfo"] a:hover {
	// color: #fff;
}
.footer-address {
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-weight: 300;
	text-align: right;
	margin: 0 0 20px 0;
	@media screen and (min-width: $tabwidth) {
		text-align: right;
	}
}
.address-home {color: #fff;	}
.address-page {color: #3F4165;	}
/* Banner */
section[role="banner"] {
	margin-bottom: 48px;
}