.main-navigation {
	// clear: both;
	// display: block;
	// float: left;
	// width: 100%;
	text-align: center;
	@media screen and (min-width: $tabwidth) {
		width: 100%;
		text-align: center;
		float: left;
		background-color: $color-blue;
	}
	@media screen and (min-width: $deskwidth) {

	}
    >.wrapper {
      padding: 0 20px 20px 20px;
      @media screen and (min-width: $tabwidth) {
        padding: 8px 20px;
      }
      @media screen and (min-width: $deskwidth) {
        width: 1050px;
        padding: 8px 0;
      }
    }
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-indent: 0;

		ul {
            @media screen and (min-width: $tabwidth) {
              float: left;
              position: absolute;
              top: 1.5em;
              z-index: 99999;
              display: none;
            }

			ul {
				left: -999em;
				top: 0;
			}

			li {
              @media screen and (min-width: $tabwidth) {
                float: left;
                margin: 0;
                &:hover > ul,
                &.focus > ul {
                  left: 100%;
                }
              }
			}

			a {
              color: #fff;
              @media screen and (min-width: $tabwidth) {
                background: #85101A;
                border-bottom: 1px dotted #fff;
                display: block;
                font-size: 14px;
                line-height: 2.181818182;
                padding: 8px 10px;
                text-align: left;
                width: 220px;
                white-space: normal;
                @include transition(all ease .3s);
              }
			}

			:hover > a,
			.focus > a {
              color: #fff;
              @media screen and (min-width: $tabwidth) {
                background-color: #262F70;
               }
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			display: block;
		}
	}
	li {
        display: block;
		position: relative;
        font-family: Calibri, sans-serif;
		padding: 12px 0;
		font-size: 18px;
		@media screen and (min-width: $tabwidth) {
			border-bottom: 0;
            display: inline-block;
			text-transform: capitalize;
			white-space: nowrap;
			margin: 0 30px;
            padding: 0;
			position: relative;
			font-size: 20px;
		}
		@media screen and (min-width: $deskwidth) {

		}

		&:hover > a,
		&.focus > a {
			/*color: #232852;*/
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: #fff;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	background-color: #262F70;
    margin: 10px 0 0 0;
	ul.sub-menu {
		background-color: rgba(255,255,255,.1);
	}
	
}


@media screen and (min-width: $tabwidth) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
button.menu-toggle {
	border: 0px;
	text-shadow: none;
	color: #fff;
	box-shadow: none;
	width: auto;
	display: inline-block;
	border-radius: 0;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 10px 20px;
	text-transform: uppercase;
	background-color: #9B0A00;
	font: {
		
		weight :300;
		size: 20px;
	}
	
	@media screen and (min-width: $tabwidth) {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


